################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApplicationLogger.Api/bin
/ApplicationLogger.Api/obj/Debug
/ApplicationLogger.Client/bin
/ApplicationLogger.Client/obj/Debug
/ApplicationLogger.Data/obj/Debug
/ApplicationLogger.Services/obj/Debug
/packages
